<table id="courses_table" class="tablesorter">
  <th>
  	<td>Course Name</td>
  	<td>Course Number</td>
  	<td># Of Students</td>
  </th>
    <!-- <tr> -->
    <!-- <td><%# text_field_tag :course,        nil, value: "Science" %></td> -->
    <!-- <td><%# text_field_tag :course_number, nil, value: "BIO_216" %></td> -->
    <!-- <td><%# text_field_tag :num_students,   nil, value: 15 %></td> -->
    <!-- <td><%# image_tag 'delete.png', size: "50x50"%></td> -->
  <!-- </tr> -->
<% @school.courses_pools.each do |course| %>
  <tr>
    <td><%= text_field_tag course.subject %></td>
    <td><%= text_field_tag course.subject_number %></td>
    <td><%= text_field_tag course.min_students_to_teach %></td>
    <td><%= image_tag 'delete.png', size: "50x50"%></td>
  </tr>
<% end %>
</table>

<h3 style="color:red;">_courses_table partial </h3>
