<h1>Add Courses</h1>

<%= text_field_tag "Course Name", nil, placeholder: "ie Algebra"%>
<%= text_field_tag "Course Number", nil, placeholder: "ie MATH134"%>
<%= text_field_tag "# of Students Registered", nil,  placeholder: "ie 25"%>
<%= button_tag "add", id: "add_course_button" %>
<br><br><br>



<%# Calendar maybe %>
<!-- https://github.com/robmonie/jquery-week-calendar/wiki -->

